<div class="row">
	<div class="col-md-8">
		<h2>Recommended Brands and Sizes:</h2>
		<% if @sizes.any? %>
			<%= render partial: 'sizes/search_result', as: :size, collection: @sizes %>
			<%= will_paginate @sizes %>
		<% else %>
			No sizes found.
		<% end %>
	</div>
	<aside class="col-md-4">
		<%= render 'shared/height_slider' %>
		<%= render 'shared/weight_slider' %>
		<%= render 'search_form' %>
	</aside>
</div>