<div class="form-group">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :url, "Homepage URL" %>
	<%= f.text_field :url, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :instagram_username, "Instagram Username" %>
	<%= f.text_field :instagram_username, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :profile_picture, "Profile Picture URL" %>
	<%= f.text_field :profile_picture, class: "form-control" %>
</div>
