<div class="row">
	<div class="col-md-8">
		<%= render "nav_tabs" %>
		<h2>Brands</h2>
		<table class="table table-striped">
			<thead>
				<% %w[id name url actions].each do |name| %>
					<th><%= name %></th>
				<% end %>
			</thead>
			<tbody>
				<%= render @brands %>
			</tbody>
		</table>
		<%= will_paginate @brands %>
	</div>
	<aside class="col-md-4">
		<h3>Import Brands</h3>
		<%= form_tag import_brands_path, multipart: true do %>
			<div class="form-group">
				<%= file_field_tag :file %>
			</div>
			<%= submit_tag "Import" %>
		<% end %>

		<h3><%= link_to "Import Sizes", new_size_import_path %></h3>
	</aside>
</div>