<div class="row">
	<div class="col-md-8">
		<%= render "nav_tabs" %>
		<h2>Brands</h2>
		<table class="table table-striped">
			<thead>
				<% %w[id name url actions].each do |name| %>
					<th><%= name %></th>
				<% end %>
			</thead>
			<tbody>
				<%= render @brands %>
			</tbody>
		</table>
		<%= will_paginate @brands %>
	</div>
	<aside class="col-md-4">
		<div class="form-group">
			<%= render 'import_brands_modal' %>
		</div>
		<div class="form-group">
			<%= render 'import_sizes_modal' %>
		</div>
	</aside>
</div>