<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'nav_tabs' %>
		<h2><%= params[:action].titleize %> Brand</h2>
		<%= form_for @brand do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

		  <%= render 'fields' %>

		  <div class="form-group">
		  	<%= f.submit "Submit", class: "btn btn-primary" %>
		  </div>
		<% end %>
	</div>
</div>