<div class="row">
		<h1><%= @brand.name %></h1>
	<div class="col-md-4">
		<h2>Sizes</h2>
		<% if @sizes.any? %>
			<table class="sizes table table-striped">
				<thead>
					<th>Size</th>
					<th>Height</th>
					<th>Weight</th>
				</thead>
				<tbody>
					<%= render @sizes %>
				</tbody>
			</table>
		<% end %>
		<% if current_user.admin? %>
			<h4>Actions</h4>
			<div>
				<%= link_to 'new', new_brand_size_path(@brand) %> |
				<%= link_to 'export', brand_sizes_path(@brand, format: :csv) %>
			</div>
			<div>
				<h5>Import CSV</h5>
				<p>* brand_id = <%= @brand.id %></p>
				<%= form_tag import_brand_sizes_path(@brand), multipart: true do %>
					<%= hidden_field_tag :import_options, { limit_to: { brand_id: @brand.id} } %>
					<div class="form-group">
						<%= file_field_tag :file %>
					</div>
					<%= submit_tag "Import" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<h2>Models</h2>
	</div>
	<div class="col-md-4">
		<h2>Other Stuff</h2>
	</div>
</div>