<div class="row">
	<aside class="col-md-3">
		<% if @brand.profile_picture %>
			<%= image_tag @brand.profile_picture, alt: "#{@brand.name} logo",
			                                      height: 140,
			                                      width: 140 %>
		<% end %>
		<h1>
			<%= @brand.name %>
			<% if current_user && current_user.admin %>
				(<%= link_to 'edit', edit_brand_path(@brand) %>)
			<% end %>
		</h1>
		<h2>Sizes</h2>
		<% if @sizes.any? %>
			<%= render 'size_table' %>
		<% end %>
		<% if current_user && current_user.admin %>
			<h4>Actions</h4>
			<div>
				<%= link_to 'new', new_brand_size_path(@brand) %> |
			</div>
		<% end %>
	</aside>
	<div class="col-md-9">
		<div class="row">
			<% if @feed_items.any? %>
				<%= render partial: 'feed_item', as: :feed_item, collection: @feed_items %>
			<% end %>
		</div>
	</div>
</div>