<div class="row">
	<% if @brand.profile_picture %>
		<%= image_tag @brand.profile_picture, alt: "profile picture" %>
	<% end %>
	<h1><%= @brand.name %></h1>
	<div class="col-md-4">
		<h2>Sizes</h2>
		<% if @sizes.any? %>
			<%= render 'size_table' %>
		<% end %>
		<% if current_user.admin? %>
			<h4>Actions</h4>
			<div>
				<%= link_to 'new', new_brand_size_path(@brand) %> |
				<%= link_to 'export', brand_sizes_path(@brand, format: :csv) %>
			</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<h2>Models</h2>
	</div>
	<div class="col-md-4">
		<h2>Other Stuff</h2>
	</div>
</div>